UnityPhysicsSamples/Temp*
UnityPhysicsSamples/Library*
UnityPhysicsSamples/.idea*
UnityPhysicsSamples/Logs/*
UnityPhysicsSamples/Assets/IterationTest/Gen/*
UnityPhysicsSamples/obj/*
*csproj*
*sln*
UnityPhysicsSamples/Assets/IterationTest/Gen0*
UnityPhysicsSamples/Assets/IterationTest/Gen1*
UnityPhysicsSamples/Assets/IterationTest/Gen2*
UnityPhysicsSamples/Assets/IterationTest/Gen3*
UnityPhysicsSamples/Assets/IterationTest/Gen4*
UnityPhysicsSamples/Assets/IterationTest/Gen5*
UnityPhysicsSamples/Assets/IterationTest/Gen6*
UnityPhysicsSamples/Assets/IterationTest/Gen7*
UnityPhysicsSamples/Assets/IterationTest/Gen8*
UnityPhysicsSamples/Assets/IterationTest/Gen9*
UnityPhysicsSamples/Assets/IterationTest/Gen10*
